<ion-header>
  <ion-toolbar>
    <ion-img  class="logoceos" src="/assets/img/ceoslogo3.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content >
    <ion-toolbar>
        <ion-searchbar></ion-searchbar>
    </ion-toolbar>
    <ion-button (click)="prueba()">pruebas</ion-button>
    <ion-button (click)="iniciosesion()">inicio sesion</ion-button>
    <ion-card *ngFor="let element of cl"  type="element">
  <!-- <span *ngIf="!item.isEdit; else elseBlock"> -->
      <ion-card-header>
        <ion-card-title text-center>{{element.clientes.nombre}}</ion-card-title>
        <ion-card-subtitle>
            <ion-img class="logo-perfil" src="{{element.clientes.imagen}}" ></ion-img>
        </ion-card-subtitle>
      </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-label>Activo</ion-label>
                     <ion-radio slot="end" color="success"  checked="{{element.clientes.activo}}"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Inactivo</ion-label>
                    <ion-radio slot="end" color="medium" checked="{{element.clientes.inactivo}}"></ion-radio>
                </ion-item>
       </ion-list> </ion-card-content>
    <!--</span> -->
    </ion-card>

    <!--  <ion-list *ngFor="let clientes of cliente" >
          <ion-item>
              <ion-grid>
                  <ion-row>
                      <ion-img class="logo-perfil" src="{{clientes.cliente.imagen}}" ></ion-img>
                  </ion-row>
                  <ion-row>
                      <p>{{clientes.cliente.nombre}}</p>
                  </ion-row>
                  <ion-row>
                      <p>Estatus: Inactivo</p>
                      <ion-checkbox slot="end"  value="yes" color="success" checked="{{clientes.cliente.activo}}" ></ion-checkbox>
                      <ion-checkbox slot="end" value="no" color="medium"  checked ="{{clientes.cliente.inactivo}}"></ion-checkbox>
                  </ion-row>
              </ion-grid>
          </ion-item>
          </ion-list>-->
</ion-content>
