.logoceos{
  width: 25%;
  height: 25%;
  align-content: center;
  margin-right: auto;
  margin-left: auto;
}
.logo-perfil{
  display:block;
  width: 150px;
  height: 150px;
  border-left: #1e2023;
  border-top: #1e2023;
  border-right: #1e2023;
  border-bottom: #1e2023;
  border-radius:50%;
  margin-left: auto;
  margin-right: auto;
}


.dre{
  background-image: url("../../assets/img/person.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

img{
  width: 200px;
  height: 100px;
  border-left: #1e2023;
  border-top: #1e2023;
  border-right: #1e2023;
  border-bottom: #1e2023;
  border-radius:75%;

}
