.logoceos{
  width: 25%;
  height: 25%;
  align-content: center;
  margin-right: auto;
  margin-left: auto;
}
.titulo{
    font-family: Arial;
    font-size: 25px ;
    text-align:center;
}
.size{
  font-size: 15px;
}
.buttons{
  margin-right: auto;
  margin-left: auto;
  font-size: 20px;
}
.tamaño{
  width: 200px;
  height: 200px;
  border-left: #1e2023;
  border-top: #1e2023;
  border-right: #1e2023;
  border-bottom: #1e2023;
  border-radius: 50%;
}
.margenes{
  margin-right: auto;
  margin-left:auto;
  text-aling: center;
}
.m{
  float: none;
  align-content: center;
  margin-right: auto;
  margin-left: auto;
  border: #1e2023;
  border-radius:15px;
}
.bordess{
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  border: 1px solid #1220b8;
  padding: 0 2px 0 2px;
}
.bg {

}
